<<<<<<< HEAD:CSS/CSS 06 - Float display e box sizing/CSS 06 EXERCICIO/style.css
html {
  background-color: rgb(255, 255, 255);
}
=======
tbody{ background-color: rgb((245, 245, 245), rgb(89, 253, 89));
  }
  
>>>>>>> 4ed5bfde801e81ea4627dbd880be3ef40135be32:CSS/CSS 06 - Float display e box sizing/CSS 06 EXERCICIO CASA/style.css

body {
  margin: auto;
  width: 60%;
  height: 100%;
  background-color: rgb(173, 237, 192);
}

figure{
  margin: 10px;
}

#inicio {
  width: 20%;
}

main {
  width: 100%;
  border: 1px solid black;
}


div {
  border: 1px solid black;
  height:300px;
}


figure {
  border: 1px solid black;
  width: 30%;
  height: 20vh;
  background-position: center;
  
}

img {
  width: 100%;
  height: 70%;
}

#cima {
  float: none;
}

#esquerda {
  float: left;
}

#direita {
  float: right;
}


.img1{
  float: left; 
  width: 30%;
}

#img2{
float: right;
}

footer, h2,p{
  margin-left: 10px;
}