button{
    background-color: blanchedalmond;
    width: 10em;
    border-radius: 5px;
    /* arredonda as bordas*/
    border-color: antiquewhite;
    /*cor da borda*/
}
button:hover{
    background-color: brown;
    color: blue;
    border-color: black;
    cursor: pointer;
}

p:hover{
    background-color: blueviolet;

}
input:focus{
    background-color: crimson;
}

li{

}
#P2::after{
    content : " - aqui nos addemos o affter";
}
#P2::before{
    content: " - aqui addemos before"
    
    ;
}
.P3::first-letter{
    font-size: 4em;
    color: brown;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    
}
.P3::first-letter{
    background-color: rgb(red, green, blue);
}    
