p{
    font-weight: 400;
    color: brown;
    background-color: black;
    font-style: italic;
    line-height: 500;

    img{
        height: 5%;
        width: 5%;
    }
        
   #paragrafo1{

    /* 16px * 2 = 32px 
    32 * 32 = 64*/
   }






}